::-webkit-input-placeholder, 
::-moz-placeholder,          
:-moz-placeholder,           
:-ms-input-placeholder {
	color: #C7C6C6;
	font-family: "open_sanslight";
	font-size: 12px;
	}

.new-project-form {
	width: 400px;
	margin: 0 auto;
}

.semifield {
	width: 50%;
	padding-right: 10px;
	float: left;
}

.right-col {
	padding-right: 0;
	padding-left: 10px;
}

.field-wrap {
	margin-top: 15px;
}
.file-btn-holder {
	position: relative;
}

input, textarea {
	width: 100%;
	padding-left: 10px;
	height: 41px;
	background-color: #FBFCFD;
	background-image: -moz-linear-gradient(bottom, rgba(233, 231, 231, 0.2) 0%, rgba(251, 249, 249, 0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(233, 231, 231, 0.2) 0%, rgba(251, 249, 249, 0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(233, 231, 231, 0.2) 0%, rgba(251, 249, 249, 0) 100%);
	background-image: linear-gradient(to top, rgba(233, 231, 231, 0.2) 0%, rgba(251, 249, 249, 0) 100%);
	border: 1px solid #d6d4d3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


textarea {
	height: 180px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}

.capcha {
	margin-top: 17px;
}

.btn-holder {
	margin-top: 30px;
}

.form-reset,
.form-submit {
	width: 123px;
	height: 39px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "open_sanssemibold";
}

.form-submit {
	background-color: #FBF9F9;
	background-image: -moz-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
	background-image: -o-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
	background-image: -webkit-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
	background-image: linear-gradient(to top, #3AA087 0%, #5FDCBD 100%);
	border: 1px solid #C3C2C2;
	color: #1E7465;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);

	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.form-reset {
	color: #727070;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	background-color: #FBF9F9;
	background-image: -moz-linear-gradient(bottom, #E9E6E4 0%, #FBF9F9 94%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #E9E6E4 0%, #FBF9F9 94%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #E9E6E4 0%, #FBF9F9 94%, #FFF 100%);
	background-image: linear-gradient(to top, #E9E6E4 0%, #FBF9F9 94%, #FFF 100%);
	border: 1px solid #C3C2C2;
	-moz-box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07), inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #F6F7F7;
	-webkit-box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07), inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #F6F7F7;
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07), inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #F6F7F7;
}

/*
	Modal window
*/

.modal {
    xdisplay: none;
    position: relative;
    width: 364px;
    padding: 20px;
    background-color: #F5F4F3;
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    border: 1px solid #C3C2C2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.modal__close {
	 position: absolute;
    right: 7px;
    top: 5px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #797777;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    outline: 0;
}

.proj-file-btn {
    width: 54px;
    height: 41px;
    position: absolute;
    top: 0;
    right:0;
    padding: 0;
    border: 0;
    border-left: 1px solid #d6d4d3;
}

.proj-file {
	display: none
}

.btn-add {
	width: 123px;
	height: 39px;
	background-color: #FBF9F9;
	background-image: -moz-linear-gradient(bottom, #43B796 0%, #80E8CB 100%);
	background-image: -o-linear-gradient(bottom, #43B796 0%, #80E8CB 100%);
	background-image: -webkit-linear-gradient(bottom, #43B796 0%, #80E8CB 100%);
	background-image: linear-gradient(to top, #43B796 0%, #80E8CB 100%);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	border: 1px solid #33a182;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	border-radius: 5px;
	color: #1E7465;
	text-align: center;
	line-height: 37px;
	font-size: 14px;
	font-weight: 600;
	margin: 0 auto;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
	.btn-add:hover {
		background-color: #FBF9F9;
		background-image: -moz-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
		background-image: -o-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
		background-image: -webkit-linear-gradient(bottom, #3AA087 0%, #5FDCBD 100%);
		background-image: linear-gradient(to top, #3AA087 0%, #5FDCBD 100%);
	}

.no-mrg {
	margin: 0;
}